
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hr-curso {
    border: none;
    height: 6px;
    width: 150%;
    margin: 40px auto;
    background: var(--footer-bg);
    border-radius: 4px;
}

section {
    scroll-margin-top: 180px; /* altura del header + nav */
   
}

html {
     scroll-behavior: smooth;
}

:root {
    --bg-body: #f3f3f3;
    --header-bg: #003a63;
    --header-text: #ffffff;

    --nav-bg: #005a99;
    --nav-text: #ffffff;

    --section-bg: #ffffff;

    --article-bg: #e6f2ff;
    --article-border: #005a99;

    --card-bg: #005a99;
    --card-border: #003a63;
    --card-text: #ffffff;

    --footer-bg: #003a63;
    --footer-text: #ffffff;

    --shadow-color: rgba(0, 0, 0, 0.55);
}
body{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-cursos a {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: white;
}

.curso-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 50px;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    width: 1500px;
}

.curso-item > div {
    flex: 2; /* Texto a la izquierda, más ancho */
}

.curso-item picture {
    flex: 1; /* Imagen a la derecha */
    display: flex;
    justify-content: center;
}


.nav-cursos a:hover{
    transform: scale(1.06);
    color: var(--article-bg);
}
.contenedor-nav {
    background-color: var(--card-border);
    width: 180px;
    height: 70rem;
    position: fixed;
    top: 110px;
    left: 0;
    overflow-y: auto;
    
}

.main-cursos{
    margin-left: 200px;
    padding: 20px;
    max-width: 1100px;
    line-height: 1.6;
    
}
a {
    text-decoration: none;

}
.img-curso {
    width: 100%;          /* Ocupa todo el ancho del contenedor */
    max-width: 600px;     /* Tamaño máximo uniforme */
    height: 300px;        /* Altura fija */
    object-fit: cover;    /* Recorta la imagen sin deformarla */
    border-radius: 10px;  /* Opcional */
    display: block;
    margin: 20px auto;    /* Centrada */
}

header {
    background: var(--header-bg);
    color: var(--header-text);
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
 
}
header h1 {
    margin-top: 10px;
}

.nav-general{
    background: var(--nav-bg);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 10;
    
}

nav a {
    color: var(--nav-text);
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #003a63;
    color: #e6f2ff;
    padding: 15px;
    margin-top: 30px;
    
}
