@import url(base.css);

body{
    display: flex;
    justify-content: center;
    align-content:center;
    position: relative;
}

.profile-index{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 60px;
    width: 60px;
    background: var(--color-securdario);
    border-radius: var(--border);
}
.profile-index:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px lightblue;
    transform: scale(1.1);
    transition: 1s;
}

.profile-index img {
    border-radius: 50%;
    mix-blend-mode: multiply;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-index{
    position: relative;
    margin: 10%;
    height: 35rem;
    width:300px;
    padding: 6px;
    background-image: url(../img/fondo/fondo.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: var(--border);
    box-shadow: 0 0 16px lightblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6, 1fr) 20px;
    place-items: space-around;
    gap: 5px;
}

.caja{
    border-radius: var(--border);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.herramientas-index{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--cajas);
    backdrop-filter: blur(5px);
    grid-column: 1/3;
    grid-row: 2;
}

.buscadores-index{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--cajas);
    backdrop-filter: blur(5px);
    grid-column: 3/4;
    grid-row: 2/4;
}

.calendar-index{
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-index{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscadores-index img,
.herramientas-index img,
.calendar-index img,
.perfil-index img,
.principal-index img{
    object-fit: cover;
    height: 6vh;
    width: 6vh;
    padding: 5px;
    border-radius: var(--border);
}

.buscadores-index img:hover,
.herramientas-index img:hover,
.calendar-index img:hover,
.perfil-index img:hover,
.principal-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}

.principal-index{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    z-index: 1;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    width: 90%;
    max-width: 100%;
    height: 100%;
    background: var(--cajas);
    border-radius: var(--border);
    box-shadow: 0 0 20px lightblue;
    padding: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cerrar {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.modal-content iframe {
    width: 100%;
    height: 100%;
    border-radius: var(--border);
    border: none;
    background: white;
}
